.contact-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;



   .parent-wrapper {
        max-width: 850px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .left {
        height: 100%;

    }

    .right {
        padding: 25px 40px;
    }

    h1 {
        font-size: 50px
    }

    h3 {
        font-size: 30px;
    }

    .field {
        width: 100%;
        padding: 0.5rem 1rem;
    }
}