.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #121212;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 60px;
    font-size: 30px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    color: #2081C3;
}

.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}