.Gallery {
    overflow: auto;

    h1 {
        font-family: "Playwrite CU", cursive;
        font-size: 60px;
        color: #36404a;
    }

    .photo-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding-bottom: 100px;
        justify-content:center;
    }

    .photo-card {
        width: 400px;
        height: 500px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        border: 8px solid #3b3741;
        &:hover .photo-card-body {
            top: 0;
        }
    }
    
    .photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .photo-card-body {
        width: 100%;
        height: 100%;
        top: -100%;
        right: 0%;
        position: absolute;
        background: #3b3741a3;
        backdrop-filter: blur(9px);
        justify-content: center;
        flex-direction: column;
        display: flex;
        transition: 0.25s;

        h1 {
            font-family: "Playwrite CU", cursive;
            font-size: 20px;
            font-weight: bold;
            color: #d5d3d3;
        }

        p {
            font-family: "Playwrite CU", cursive;
            font-size: 14px;
            font-weight: 900;
            color: #d5d3d3;
        }
    }
}